h1 {
  font-family: "Poppins", sans-serif;
  margin: 20px 0px;
}
span {
  color: rgb(216, 88, 255);
}

.form-control,
.btn {
  margin-bottom: 20px;
}

#spinner {
  display: none;
  margin-bottom: 20px;
}
#search-error {
  display: none;
  margin-bottom: 20px;
}
#search-text-error {
  display: none;
  margin-bottom: 20px;
}
